body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 60px;
    margin-top: 50px;
    color: #ffffff;
  }

  p {
    font-size: 18px;
    color: #ffffff;
  }

  .button-group {
    margin: 20px;
  }

  .btn {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }

  .github {
    background-color: #141414;
  }

  .code-block {
    background-color: #f4f4f4;
    display: inline-block;
    text-align: left;
    padding: 15px;
    margin: 10px auto;
    font-family: 'Times New Roman', Times, serif;
    white-space: pre-wrap;
    border-radius: 3px;
  }

  .footer {
    color: #28a745;
    margin-top: 10px;
  }